@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Open+Sans:wght@300;400;700;800&display=swap');

$cherry: rgba(58, 9, 11, 1);
$light-cherry: rgba(58, 9, 11, 0.25);
$pink: rgba(231, 113, 127, 1);
$light-pink: rgba(231, 113, 127, 0.25);
$green: rgb(135, 189, 96);
$gray: rgba(230, 230, 230, 1);
$light-gray: rgba(233, 233, 233, 0.5);
$shadow-gray: rgb(150, 150, 150);
$dark-gray: rgb(128, 128, 128);
$white: #FFFFFF;

.contact-page {
  h3 {
    font-family: 'Satisfy', cursive;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-top: 0;
    color: $pink;
  }
  div {
    align-items: stretch;
  }

  p {
    line-height: 200%;
  }
}

.contact {
  border-radius: 20px;
  background-color: $white;
  padding: clamp(50px, 5vw, 100px) clamp(30px, 5vw, 75px);
  width: 50%;
  
  h2 {
    text-align: center;
  }

  p {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    line-height: 200%;
  }

  .contact-link {
    display: flex;
    align-items: center;

    a {
      font-weight: 700;
      color: $cherry;
      margin-right: clamp(15px, 1vw, 20px);

      &.icon-link {
        width: clamp(20px, 2.5vw, 40px);
        display: flex;
        justify-content: center;
      }

      &:hover {
        color: $pink;
      }
    }

    svg {
      display: flex;
      justify-content: flex-start;
      width: 50px;
      height: 50px;
      text-align: left;
    }
  }
}

.contact-info {
  margin-left: clamp(10px, 2vw, 30px);
}

.contact-form {
  
  .form-section {
    margin-block: clamp(10px, 2vw, 30px);
  }
  
  .form-label {
    display: block;
    font-size: clamp(0.75rem, 1.25vw, 1.5rem);
    text-transform: uppercase;
  }

  .form-field {
    width: 100%;
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    margin-block: clamp(10px, 1vw, 20px);
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid $cherry;
    height: clamp(25px, 3vw, 40px);

    &:focus {
      border: 1px solid transparent;
      outline: 1px solid $green;

      &:required:invalid {
        outline: 1px solid red;
      }

      &:required:invalid + .validation-message {
        display: block;
      }
    }
  }

  textarea.form-field {
    font-family: 'Open Sans', sans-serif;
    height: clamp(50px, 6vw, 100px);
  }

  button {
    text-align: center;
  }

  .validation-message {
    color: red;
  }
}

.success {
  
  h2 {
    font-family: 'Satisfy', cursive;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-top: 0;
    color: $pink;
  }
}

@media (max-width: 1000px) {
  .contact-page div.flex-row-center {
    flex-direction: column;

    h3 {
      font-size: clamp(1.5rem, 4vw, 3rem);
    }
  }

  .contact {
    width: auto;
    flex-grow: 1;
    padding: clamp(50px, 5vw, 100px) clamp(30px, 8vw, 75px);
  }

  .contact-info {
    margin-left: 0;
    margin-top: clamp(10px, 3vw, 30px);
  }
}