@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800&family=Kaushan+Script&display=swap');

$cherry: rgba(58, 9, 11, 1);
$light-cherry: rgba(58, 9, 11, 0.25);
$pink: rgba(231, 113, 127, 1);
$light-pink: rgba(231, 113, 127, 0.25);
$gray: rgba(230, 230, 230, 1);
$light-gray: rgba(233, 233, 233, 0.5);
$shadow-gray: rgb(150, 150, 150);
$white: #FFFFFF;

$title--xl: 4.5rem;
$title--lg: 3rem;
$title--md: 2rem;
$title--sm: 1.5rem;
$text--lg: 1.25rem;
$text--md: 1rem;
$text--sm: 0.75rem;

html {
  font-size: 16px;
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  color: $cherry;
  font-size: 1rem;
  margin: 0;
}

.app {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: min(100%, 1600px);
  margin-inline: auto;
  background: transparent;
  background-image: url('../public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 1;
}

.app::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(230, 230, 230, 0.5);
  z-index: -1;
}

svg {
  color: $cherry;

  &:hover {
    color: $pink;
  }
}

.navbar {
  border: 1px solid blue;
  position: sticky;
  top: 0;
  padding-inline: clamp(50px, 10vw, 150px);
  padding-block: clamp(20px, 2vw, 30px);
  margin-bottom: clamp(20px, 2vw, 30px);
  z-index: 5;

  &.cherry-bg {
    background-color: $cherry;
    box-shadow: 0px 10px 10px -10px gray;

    .navlink {
      color: $white;
    }
  }

  .navlink {
    // border: 1px solid green;
    font-size: clamp(0.75rem, 1vw, 1.25rem);
    letter-spacing: 1.4px;
    text-decoration: none;
    padding-right: clamp(50px, 5vw, 100px);
    color: $cherry;

    &:hover {
      color: $pink;
    }
  }

  .navlink.active {
    font-weight: 900;
  }
}

.menu-icon {
  border: none;
  // border: 1px solid red;
  background: transparent;
  // width: 8vw;
  // height: 8vw;
  // margin: 20px 150px;
  cursor: pointer;

  svg {
    width: 50px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  // width: 300px;
  // height: 100vh;
  background-color: $cherry;
  z-index: 20;
  
  button {
    border: none;
    background: transparent;
    // margin: 20px;
    cursor: pointer;
    
    svg {
      width: 50px;

      &:hover {
        color: $pink;
      }
    }
  }

  ul {
    // border: 1px solid pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0;
    // padding: 0;
    // height: 100vh;

    li {
      // padding: 20px;
      // margin: 10px;
      list-style: none;
    }

    li * {
      // border: 1px solid yellow;
      text-decoration: none;
      color: $white;
      // font-size: $text--lg;
      font-weight: 700;
      letter-spacing: 2px;
      // padding: 15px 20px;
      // margin: 25px 10px;

      &:hover {
        color: $pink;
      }
    }
  }
}

.btn {
  border-radius: clamp(5px, 0.25vw, 10px);
  text-decoration: none;
  font-weight: 700;
  font-size: clamp(0.5rem, 1vw, 1rem);
  padding-block: clamp(5px, 1.25vw, 15px);
  padding-inline: clamp(5px, 2vw, 30px);
  margin-right: clamp(5px, 0.75vw, 15px);
  border: none;
  cursor: pointer;
  color: $white;
  background-color: $cherry;
  border: 1px solid $cherry;

    &:hover {
      background-color: $pink;
    }

  &.secondary-btn {
    color: $cherry;
    border: 1px solid $cherry;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $pink;
    }
  }
}

.home-page {
  position: relative;
  // border: 1px solid green;
  display: flex;
  align-items: center;

  .home {
    // border: 1px solid pink;
    width: 100%;
    border-radius: 20px;
    background-color: $white;
    margin-right: clamp(50px, 10vw, 150px);
    margin-left: clamp(100px, 20vw, 300px);
    padding-block: clamp(50px, 10vw, 100px);
    padding-left: clamp(120px, 14vw, 200px);
    padding-right: clamp(30px, 5vw, 100px);

    h1 {
      font-size: clamp(1.25rem, 3.5vw, 4rem);
      font-weight: 400;
      margin: 0;

      span {
        font-size: clamp(1.75rem, 5vw, 5rem);
        font-family: 'Kaushan Script', cursive;
        color: $pink;
      }
    }

    h2 {
      font-size: clamp(0.5rem, 1.5vw, 2rem);
      font-weight: 100;
      letter-spacing: 2px;
      margin: 0;
    }

    .socials-description {
      // border: 1px solid green;
      display: flex;
      align-items: center;
      margin-block: clamp(10px, 1.5vw, 30px);

      .home-socials {
        // border: 1px solid red;
        text-align: center;
        margin-right: clamp(5px, 1.5vw, 20px);


        svg {
          // border: 1px solid blue;
          width: clamp(15px, 1.5vw, 30px);
          margin-bottom: clamp(0px, 1vw, 30px);
        }

        svg.linkedin {
          width: clamp(12px, 1.3vw, 25px);
          height: 100%;
        }
      }
      
      p {
        font-size: clamp(0.75rem, 1.25vw, 1.5rem);
        letter-spacing: 0.15px;
        line-height: 175%;
      }
    }

    .home-buttons {
        margin-block: clamp(10px, 3vw, 50px);

      .primary-btn {
        padding-inline: clamp(30px, 5vw, 75px);
      }
    }

    .view-portfolio-container {
      // border: 1px solid blue;
      font-size: clamp(0.75rem, 1vw, 1.25rem);
      width: clamp(120px, 10vw, 200px);

      *:hover {
        img {
          transform: translateX(7px);
          transition: transform 0.3s ease;
        }
      }
      
      a {
        text-decoration: none;
        display: flex;
        align-items: center;

        p {
          color: $pink;
        }
      }
    }
  }
}

.phone-container {
  // border: 1px solid blue;
  position: absolute;
  top: 0;
  left: clamp(20px, 10vw, 150px);
  // max-width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
}

.phone {
  // border: 1px solid purple;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;

  .phone-display {
    // border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $pink;
    margin: clamp(5px, 1.25vw, 10px);
    padding-block: clamp(15px, 3vw, 30px);
    padding-inline: clamp(10px, 1vw, 15px);

    .avatar {
      border-radius: 50%;
      border: 2px solid $white;
      width: clamp(100px, 12vw, 200px);
      height: 100%;
    }

    h2 {
      font-size: clamp(0.5rem, 1.25vw, 1.25rem);
      font-weight: 300;
      letter-spacing: 2px;
      color: $white;
      margin-top: 20px;
    }
  }

  .phone-control {
    // border: 1px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .song {
      // border: 1px solid blue;
      font-size: clamp(0.5rem, 1vw, 1rem);
      width: clamp(100px, 15vw, 200px);
      height: 30px;
      display: flex;
      justify-content: center;
      padding: clamp(5px, 1vw, 20px);
      margin-top: 0;
    }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      width: clamp(110px, 15vw, 200px);
      

      &::-webkit-slider-runnable-track {
        background: $cherry;
        height: min(0.5vw, 3px);
        border-radius: 1rem;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none; 
        appearance: none;
        margin-top: max(-0.5vw, -6px); 
        background-color: $pink;
        height: min(1.25vw, 15px);
        width: min(1.25vw, 15px); 
        border-radius: 50%;
      }

      &::-moz-range-track {
        background: $cherry;
        height: min(0.5vw, 3px);
        border-radius: 1rem;
      }

      &::-moz-range-thumb {
        -webkit-appearance: none; 
        appearance: none;
        margin-top: max(-0.5vw, -6px); 
        background-color: $pink;
        height: min(1.25vw, 15px);
        width: min(1.25vw, 15px); 
        border-radius: 50%;
      }

      &::-moz-range-progress {
        background-color: $pink;
      }

      &::-ms-track {
        background-color: $cherry;
      }

      &::-ms-thumb {
        background-color: $pink;
      }

      &::-ms-fill-lower {
        background-color: $pink;
      }
    }

    .control-buttons {
      // border: 1px solid green;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: clamp(10px, 2vw, 25px);

      svg {
        width: clamp(20px, 3vw, 40px);
        height: clamp(20px, 3vw, 40px);
      }

      // svg.pause,
      // svg.play {
      //   width: 3vw;
      //   height: 3vw;
      // }

      button {
        background-color: $white;
        border: none;
        padding-inline: clamp(5px, 1vw, 10px);
        cursor: pointer;
      }
    }
  }
}

.portfolio {
  // border: 1px solid blue;
  margin-inline: 150px;

  .portfolio-item {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    border-radius: 20px;
    margin-bottom: 75px;
    box-shadow: 0px 0px 60px 5px $shadow-gray;
  }

  .slider-container {
    // border: 1px solid pink;
    background-color: $gray;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider {
    // border: 1px solid cyan;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    svg { 
      width: 40px;
      height: 40px;
    }
  }

  .img-btn-container {
    // border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    max-height: 500px;

    button {
      border: none;
      // border: 1px solid black;
      width: 50px;
      height: 50px;
      margin: 20px;
      background-color: transparent;
      cursor: pointer;
    }
    
    img {
      width: 30px;
    }
  }

  .images {
    // border: 1px solid red;
    width: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      max-height: 600px;
      margin: 0;
      padding: 0;
    }
  }

  .slider-dots {
    width: 100px;
    height: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    .slider-dot {
      border: none;
      background-color: $pink;
      // width: 5px;
      height: 12px;
      margin-right: 12px;
      border-radius: 50%;
      cursor: pointer;
    }

    .cherry {
      background-color: $cherry;
    }
  }

  .info-container {
    
    display: flex;
    padding: 5% 7%;

    .details-container{
      // border: 1px solid purple;
      max-width: 500px;
    }

    .tech-button-container {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
    }

    .details {
      h3 {
        font-size: $title--md;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
      }

      p {
        font-size: $text--md;
        font-weight: 700;
      }

      ul {
        font-size: $text--lg;
        font-weight: 300;
      }
    }

    .tech-stack {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin-block: 30px;
    }

    .tech {
      font-weight: 700;
      color: $pink;
      background-color: $light-gray;
      width: 65px;
      margin: 0 10px 10px 0;
      padding: 10px 30px;
      border-radius: 25px;
      flex-wrap: wrap;
    }
  }
}

.contact {
  // border: 1px solid red;
  margin-inline: 400px;
  margin-block: 75px;
  border-radius: 20px;
  background-color: $white;
  padding: 50px;
  box-shadow: 0px 0px 60px 5px $shadow-gray;

  h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: $title--lg;
    color: $pink;
    margin-top: 0;
  }

  .contact-info {
    // border: 1px solid blue;
    font-weight: 300;
    display: flex;
    align-items: center;

    a {
      // border: 1px solid green;
      text-decoration: none;
      font-weight: 700;
      color: $cherry;
      margin-right: 10px;
      

      &.icon-link {
        width: 30px;
        display: flex;
        justify-content: center;
      }

      &:hover {
        color: $pink;
      }
    }

    svg {
      // border: 1px solid red;
      display: flex;
      justify-content: flex-start;
      width: 30px;
      height: 40px;
      text-align: left;
    }

    .email,
    .linkedin {
      width: 25px;
    }
  }
}

.footer {
  text-align: center;
  margin-top: clamp(50px, 6vw, 100px);
  margin-bottom: 20px;
  
  .copyright {
    font-size: 0.75rem;
    font-weight: 700;
  }

}

.not-found {
  // border: 1px solid purple;
  margin-inline: 150px;
  height: 600px;
  margin-bottom: 100px;
}

.back-to-top-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  color: $cherry;
  border: none;
  background: transparent;
  
  svg {
    width: 40px;
    height: 40px;
  }

  p {
    font-size: $text--md;
  }

  &:hover {
    * {
      color: $pink;
    }
  }
}



@media (max-width: 500px) {
  .app {
    overflow: hidden;
  }

  .home-page {
    flex-direction: column;

    .phone-container {
      position: relative;
      left: 0;
      margin: 5vw;
      
      
      .phone {
        // border: 1px solid blue;
        box-shadow: inset 0px 0px 10px gray;

        .phone-display {
          margin: clamp(10px, 1vw, 10px);
          
          .avatar {
            width: 50%;
          }

          h2 {
            font-size: clamp(1rem, 5vw, 2rem);
          }
        }

        .phone-control {
          .song {
            font-size: clamp(0.75rem, 3.5vw, 1.5rem);
            width: clamp(200px, 80vw, 350px);
          }
        }

        input[type="range"] {
          -webkit-appearance: none;
          appearance: none;
          cursor: pointer;
          width: 75vw;
      

          &::-webkit-slider-runnable-track {
             background: $cherry;
              height: 1vw;
              border-radius: 1rem;
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none; 
            appearance: none; 
            background-color: $pink;
            margin-top: -1.5vw;
            height: 4vw;
            width: 4vw; 
            border-radius: 50%;
          }

          &::-moz-range-track {
            background: $cherry;
            height: min(0.5vw, 3px);
            border-radius: 1rem;
          }

          &::-moz-range-thumb {
            -webkit-appearance: none; 
            appearance: none;
            margin-top: max(-0.5vw, -6px); 
            background-color: $pink;
            height: min(1.25vw, 15px);
            width: min(1.25vw, 15px); 
            border-radius: 50%;
          }

          &::-moz-range-progress {
            background-color: $pink;
          }

          &::-ms-track {
            background-color: $cherry;
          }

          &::-ms-thumb {
            background-color: $pink;
          }

          &::-ms-fill-lower {
            background-color: $pink;
          }
        }

        .control-buttons {
          margin: 10vw;

          svg {
            width: 10vw;
            height: 100%;
            padding-inline: 3vw;
          }
        }
      }
    }

    .home {
      // border: 1px solid green;
      width: 80%;
      margin: 5vw;
      padding: 5vw;

      .home-buttons {
        flex-wrap: wrap;
      }
    }
  }
}