@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800&family=Kaushan+Script&display=swap');

$cherry: rgba(58, 9, 11, 1);
$light-cherry: rgba(58, 9, 11, 0.25);
$pink: rgba(231, 113, 127, 1);
$light-pink: rgba(231, 113, 127, 0.25);
$gray: rgba(230, 230, 230, 1);
$light-gray: rgba(233, 233, 233, 0.5);
$white: #FFFFFF;

$title--xl: 4.5rem;
$title--lg: 3rem;
$title--md: 2rem;
$title--sm: 1.5rem;
$text--lg: 1.25rem;
$text--md: 1rem;
$text--sm: 0.75rem;

html {
  font-size: 16px;
}

body {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Catamaran', sans-serif;
  color: $cherry;
  font-size: 1rem;
  margin: 0;
}

.app {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 100vh;
  margin: auto;
  background-image: url('../public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.app::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(230, 230, 230, 0.5);
  z-index: -1;
}

.navbar {
  // border: 1px solid blue;
  position: sticky;
  top: 0;
  padding: 50px 150px;
  z-index: 100;

  .navlink {
    // border: 1px solid green;
    font-size: $text--md;
    letter-spacing: 1.4px;
    text-decoration: none;
    padding-right: 10%;
    color: $cherry;

    &:hover {
      color: $pink;
    }
  }

  .navlink.active {
    font-weight: 900;
  }

}

.btn {
  border-radius: 10px;
  text-decoration: none;
  font-size: $text--md;
  font-weight: 700;
  padding: 15px 20px;
  border: none;
  width: 200px;
  height: 60px;
  cursor: pointer;

  &.primary-btn {
    color: $white;
    background-color: $cherry;
  }

  &.secondary-btn {
    color: $cherry;
    border: 1px solid $cherry;
    background-color: $white;
  }

  &:hover {
    background-color: $pink;
  }
}

.home-page {
  position: relative;
  // border: 1px solid green;
  width: 100%;
  flex-grow: 1;
  margin-inline: auto;

  .home {
    // border: 1px solid pink;
    border-radius: 20px;
    background-color: $white;
    position: absolute;
    right: 150px;
    margin-left: 300px;
    margin-top: 20px;
    padding-top: 50px;
    padding-left: 160px;
    padding-right: 75px;

    .home-heading {
      margin-left: 65px;
    }

    h1 {
      font-size: $title--lg;
      font-weight: 400;
      margin: 0;

      span {
        font-size: $title--xl;
        font-family: 'Kaushan Script', cursive;
        color: $pink;
      }
    }

    h2 {
      font-size: $title--sm;
      font-weight: 100;
      letter-spacing: 2px;
      margin: 0;
    }

    .socials-description {
      // border: 1px solid green;
      display: flex;
      align-items: flex-start;
      padding-block: 20px 30px;

      .home-socials {
        padding-top: 30px;

        &:hover svg path {
          fill: $pink;
        }
        

        * {
          padding-bottom: 20px;
        }
      }
      
      p {
        font-size: $text--lg;
        letter-spacing: 0.15px;
        line-height: 45px;
        padding-left: 30px;
      }
    }

    .home-buttons {
      
      .primary-btn {
        padding-inline: 62px;
        margin-right: 10px;
        margin-left: 65px;
      }
    }

    .view-portfolio-container {
      // border: 1px solid blue;
      width: 200px;
      margin-block: 50px 70px;
      margin-inline: 65px;

      *:hover {
        img {
          transform: translateX(7px);
        }
      }
      
      a {
        text-decoration: none;
        display: flex;
        align-items: center;

        p {
          font-size: $text--lg;
          color: $pink;
          margin-right: 5px;
        }
      }
    }
  }
}

.phone {
  // border: 1px solid purple;
  background-color: $white;
  position: absolute;
  top: 80px;
  left: 150px;
  border-radius: 15px;
  box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;

  .phone-display {
    // border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $pink;
    padding: 35px 20px;
    margin: 15px;

    .avatar {
      border-radius: 50%;
      border: 2px solid $white;
    }

    h2 {
      font-size: $text--lg;
      font-weight: 300;
      letter-spacing: 2.4px;
      color: $white;

    }

  }

  .phone-control {
    text-align: center;

    // .progress-meter {
    //   position: relative;
    //   width: 200px;
    //   height: 3px;
    //   background-color: $light-cherry;
    //   margin: 25px;
    //   border-radius: 3px;

    //   img {
    //     position: absolute;
    //     top: -24px;
    //     left: -24px;
    //   }
    // }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      width: 12rem;
      

      &::-webkit-slider-runnable-track {
        background: $cherry;
        height: 0.25rem;
        border-radius: 1rem;
      }

      ::-moz-range-track {
        background: $cherry;
        height: 0.5rem;
        border-radius: 1rem;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none; 
        appearance: none;
        margin-top: -6px; 
        background-color: $pink;
        height: 1rem;
        width: 1rem; 
        border-radius: 50%;
      }

      &::-moz-range-thumb {
        -webkit-appearance: none; 
        appearance: none;
        margin-top: -6px; 
        background-color: $pink;
        height: 1rem;
        width: 1rem; 
        border-radius: 50%;
      }

    }

    .control-buttons {
      // border: 1px solid green;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 30px;

      button {
        background-color: $white;
        border: none;
        padding-inline: 10px;
      }
    }
  }
}

.portfolio {
  // border: 1px solid blue;
  margin-inline: 150px;

  .portfolio-item {
    // border: 1px solid green;
    display: flex;
    background-color: $white;
    border-radius: 20px;
    margin-bottom: 75px;
  }

  // .projects-section .portfolio-item {
  //   max-width: 500px;
  //   flex-direction: column;
  //   margin-inline: 20px;
  // }

  .slider-container {
    border: 1px solid pink;
    background-color: $gray;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
  }

  .slider {
    border: 1px solid cyan;
    margin: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-height: 400px;
  }

  .img-btn-container {
    display: flex;
    align-items: center;
    max-width: 450px;
    max-height: 400px;

    button {
      width: 40px;
      height: 35px;
      margin: 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    
    img {
      width: 30px;
    }
  }

  .images {
    // border: 1px solid red;
    width: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .info-container {
    padding: 40px 60px;

    .details {
      h3 {
        font-size: $title--md;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
      }

      p {
        font-size: $text--md;
        font-weight: 700;
      }

      ul {
        font-size: $text--lg;
        font-weight: 300;
      }
    }

    .tech-stack {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin-block: 30px;
    }

    .tech {
      font-weight: 700;
      color: $pink;
      background-color: $light-gray;
      width: 65px;
      margin: 0 10px 10px 0;
      padding: 10px 30px;
      border-radius: 25px;
      flex-wrap: wrap;
    }
  }
}

.contact {
  // border: 1px solid red;
  margin-inline: 300px;
  border-radius: 20px;
  background-color: $white;
  padding: 50px;

  h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: $title--lg;
    color: $pink;
    margin-top: 0;
  }

  .contact-info {
    // border: 1px solid blue;
    font-weight: 300;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      font-weight: 700;
      color: $cherry;
      margin-right: 10px;

      &:hover {
        color: $pink;
      }
    }
  }

}